<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="../../../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        <link rel="import" href="../../../../bower_components/polymer/polymer.html">
        <link rel="import" href="../../../../bundle.html">
        <title>MapTypes</title>
        <style>
            body{
                margin:0px;
                padding:0px;
            }
            #list{
                position: absolute;
        
                top:0px;
                right:0px;
                bottom:0px;
                width: 250px;
            }
        </style>
    </head>

    <body>
    
       <tbilisi-map-view id="mapView">

       </tbilisi-map-view>
        <map-type-list id="list">

        </map-type-list>
     

        <script>
            function gmloaded() {
                console.log('google maps loaded');
            }
            function setMock() {
                setTimeout(fnc, 1000)



            }
            function fnc() {
                console.log('web components ready ');
                var map = document.getElementById('mapView');
                map.initialize();
                var list = document.getElementById('list');
               
                list.setMapTypesProvider(map.mapTypesProvider);

                /*var list = document.getElementById('list');
                list.mapTypesProvider = map.mapTypesProvider;*/
            }
            window.addEventListener("WebComponentsReady", setMock)

        </script>
        <script async defer charset="UTF-8" type="text/javascript" src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2">
        </script async>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGo33r6UECbDAJV63G20ULh6RtyzKBkXc&callback=gmloaded">
        </script>

            </body>
        </html>
